.about-page {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.section-header {
  margin-top: 3rem;
}

.section-title {
  font-family: "PixelFont", sans-serif; /* use your pixel font */
  font-size: 2rem;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
}

.divider {
  border: none;
  border-top: 2px dashed black;
  width: 95%;
  margin: 2rem 0rem 2rem 2rem;
}

.intro-text {
  max-width: 960px;
  margin: 0 auto 3rem;
  font-size:16.5px;
}

.empty-section {
  height: 100px; /* placeholder space */
}