@font-face {
    font-family: PixelFont;
    src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
}


.App {
  text-align: center;
}

 
/* Styling for Banner */
.banner {
  width: 100%;
  background-image: url("../public/banner3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: clamp(250px, 45vh, 520px);
  position: relative;

  display: grid;
  place-items: center; 
  padding: clamp(16px, 6vw, 64px);
  height: 685px
}

