.divider {
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px dashed black;
}

.intro-text {
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.section-header {
    text-align: left;
    margin-left: 30px;
}