.menu-item {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
    text-align: center;
    width: 180px;
    border-radius: 8px;
    /*
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    */
}
.menu-item h4 {
  margin-bottom: 4px; /* reduces space below the name */
  font-family: PixelFont;
  font-weight: lighter;
}

.menu-item p {
  margin-top: 0; /* removes extra space above the description */
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-item-image {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
