@font-face {
    font-family: PixelFont;
    src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
}

.title {
    font-size: 14px;
    font-family: PixelFont;
}

.divider {
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1.5px dashed black;
}

.intro-text {
    font-size: 9px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    font-size: 11px;
    text-align: left;
    margin-left: 20px;
    font-family: PixelFont;
}

.section-header {
    font-size: 11px;
    text-align: left;
    margin-left: 30px;
    font-family: PixelFont;
}