/* @font-face {
    font-family: PixelFont;
    src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
} */

/* Font Styles */
:root {
    --menu-font-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

.my-carousel {
  overflow-x: auto;
}

/* Desktop Device */

@media only screen and (min-width: 768px) {

    .title {
        font-size: 36px;
        font-family: var(--heading-font);
        text-align: center;
    }

    .divider {
        margin-left: 40px;
        margin-right: 40px;
        border-top: 2px dashed black;
    }

    .intro-text {
        font-size: 13px;
        font-family: var(--menu-font-stack);
        border: 1px solid black;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    a {
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        font-family: var(--heading-font);
        align-items: center;
        color: #000;

    }

    .menu-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 100vw;
        margin: 20px 0;
        padding: 0;
    }

    .menu-nav a {
        margin-left: 0;
        flex: 1;
        text-align: center;
    }

    .menu-page a {
        margin-left: 0;
    }
    a:hover {
        color: var(--hover-color);
    }

    .section-header {
        font-size: 28px;
        text-align: left;
        margin-left: 20px;
        font-family: var(--heading-font);
    }
}

/* Mobile Device */

@media only screen and (max-width: 767px) {

    .title {
    font-size: 18px;
    font-family: var(--heading-font);
    }

    .divider {
        margin-left: 20px;
        margin-right: 20px;
        border-top: 1.5px dashed black;
    }

    .intro-text {
        font-size: 11px;
        font-family: var(--menu-font-stack);
        border: 1px solid black;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .menu-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 100vw;
        margin: 20px 0;
        padding: 0;
        flex-wrap: wrap;
        gap: 10px;
    }

    .menu-nav a {
        margin-left: 0;
        flex: 1;
        text-align: center;
        min-width: 0;
    }

    .menu-page a {
        margin-left: 0;
    }

    a {
        font-size: 11px;
        text-align: left;
        margin-left: 20px;
        font-family: var(--heading-font);
    }

    .section-header {
        font-size: 13px;
        text-align: left;
        margin-left: 30px;
        font-family: var(--heading-font);
    }

}