.menu-container {
    padding:2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif
}

.menu-section {
    margin-bottom: 4rem;
}

.menu-heading {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem;
    justify-items: center;
}