.menu-item {
  text-align: center;
  width: 100%;
    max-width: 420px; 
  margin-inline: auto;
}

.menu-image {
  width: 250px;
  height: 250px;
  background-color: #e9d1dc;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.menu-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.menu-desc {
  color: #666;
  font-size: 0.90rem;
  line-height: 1.35;
  max-width: 22ch;
  margin: 0 auto;
}